<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanhk.mapper.StudentsMapper">
    <insert id="addStu" parameterType="com.yanhk.pojo.Students">
        INSERT INTO students(name,sex,age) VALUE(#{name},#{sex},#{age})
    </insert>
    <select id="findStu" parameterType="int" resultType="com.yanhk.pojo.Students">
        SELECT * FROM students WHERE id=#{id}
    </select>
    <delete id="delStu" parameterType="int">
        DELETE FROM students WHERE id=#{id}
    </delete>
    <update id="updateStu" parameterType="int" >
        UPDATE students SET name=#{name} sex=#{sex} age=#{age} WHERE id=#{id}
    </update>
</mapper>